<!--The content below is only a placeholder and can be replaced.-->
<h1>{{title}}</h1>
<p>
  這些文字& link則會是固定出現的!
  要有http的轉跳 使用href <br />
  用 routerLink 是虛擬的NG component 轉跳<br />
  記得虛擬的NG component 可以接受Serve不存在的頁面，自行指向模塊<br />
  但是 href的轉跳 會出404
<p>
<nav>
  <a href="/">什麼也沒有(/) 這邊應該是回到localhost:4200 路由</a>
  <a href="/teat1">teat1 呈現 Heroes Component</a>
  <a href="/teat2">teat2 呈現 Header Component</a>
  <a href="//www.kajitsu.com.tw">一個外連網址</a>
  <a href="teat1/detail/11">呈現 HeroDetailComponent 的 深層路由</a>
  <a routerLink="teat2/child">呈現 child 這個模塊(註:此模塊被獨立幫斗)</a>
</nav>
<router-outlet></router-outlet>
<app-messages></app-messages>
<!--router-outlet 裡面的內容會被 router 所控制-->
